*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main-container{
    height: 500px;
    width: 800px;
    border: 1px solid black;
    position: relative;
    left: 200px;
    background-color: rgba(16,227,127,255);
}

.product_photo{
    display: flex;
    background-color: white;
    height: 300px;
    width: 400px;
    position: relative;
    top: 100px;
    left: 200px ;
}

.photo-main{
    position: relative;
    top: 50px;
    left: -15px;
    /* display: flex;
    align-items: center; */
    background-color: rgba(184,234,67,255);
    height: 200px;
    width: 150px;
}

.photo-main > img{
    height: 120px;
    width: 100px;
    position: relative;
    top: 10px;
    left: -20px;
}

/* .photo-main > i{
    height: 20px;
    position: relative;
    top: 5px;
    left: 5px;
    color: aliceblue;
    display: flex;
    justify-content: space-around;
} */

.nav-container{
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    color: white;
}

.photo-album{
    position: relative;
    height: 50px;
    width: 150px;
    background-color: rgba(255,255,255,255);
    top: 0px;
    left: -15px;
}

.photo-album > ul{
    display: flex;
    /* margin-right: 10px; */
    height: 5px;
    width: 5px;
    position: relative;
    left: -20px;
}

.photo-album >ul > li{
    list-style-type: none;
     /* position: relative; */
     display: flex;
     justify-content: center;
     padding-right: 10px;
}

.photo-album >ul > li > img{
    list-style-type: none;
    height: 30px;
    width: 20px;
    border: 1px solid black;
    position: relative;
    top: 10px;
}

.price{
    color: red;
}

/* .p{
    color: rgba(189,189,189,255);
    opacity: 0.9;
    font-size: 3px;
} */

.variant{
 
}

.variant > ul{
    display: flex;
}

.variant > ul > li{
    list-style-type: none;
}

.variant > ul > li > img{
    height: 20px;
    width: 20px;
    border: 0.5px solid black;
    margin-right: 10px ;
}

.apples{
    font-size: 10px;
}

.para{
    color: rgba(189,189,189,255);
    font-size: 10px;
}

.heading{
    font-size: 10px;
    font-weight: 800;
}

.btn{
    background-color: rgba(254,63,64,255);
    border: 0.5px black;
    border-radius: 5px;
}

/* #first-icon{
    position: relative;
    left: 0px;
}

#second-icon{
    position: relative;
    right : 0px;
} */

